#popup_banner {
    .popup_banner {
        position: absolute !important;
        width: 500px;
        height: 400px;
        background: #fff;
        color: red;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}
