/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #f3f1f0;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .pricing h3 {
    font-weight: 400;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2b2320;
  }
  
  .pricing h4 {
    font-size: 42px;
    color: #f03c02;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #2b2320;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing ul li {
    padding-bottom: 16px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .pricing .btn-buy {
    color: #9c847b;
    border: 2px solid #e9e3e1;
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 4px;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .pricing .btn-buy:hover {
    color: #f03c02;
    border-color: #f03c02;
  }
  
  .pricing .featured {
    background: #fd5c28;
    box-shadow: none;
  }
  
  .pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
    color: #fff;
  }
  
  .pricing .featured .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .pricing .featured .btn-buy {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .pricing .featured .btn-buy:hover {
    color: #f03c02;
    background: #fff;
    border-color: #fff;
  }