@import "../vars";

// Sections
@import "../parts/_sections/_section/section";
@import "../parts/_sections/_filters/filters";
@import "../parts/_sections/_pagination/pagination";
@import "../parts/_sections/_viewed/viewed";
@import "../parts/_sections/_subscribe/subscribe";
@import "../parts/_sections/_slideshow/slideshow";
@import "../parts/_sections/_cart/cart";
@import "../parts/_sections/_autoseatch/autosearch";
@import "../parts/_sections/_banner/banner";
@import "../parts/_sections/_together/together";
@import "../parts/_sections/_orders/orders";

// Blocks
@import "../parts/_blocks/_category-card/category-card";
@import "../parts/_blocks/_product-card/product-card";
@import "../parts/_blocks/_breadcrumbs/breadcrumbs";
@import "../parts/_blocks/_price/price";
@import "../parts/_blocks/_quantity/quantity";

.page-catalog {
  &__subcategories {
    margin-bottom: 80px;
    ul {
      margin-top: 40px;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &__pagination {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  &__about {
    margin-top: 100px;
    margin-bottom: 110px;
  }
  &__seo-text {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__advantages {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  &__categories {
    margin-top: 40px;
  }
}

.catalog {
  &__header {
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  &__filters {

  }
  &__checkout-group {
    margin-bottom: 25px;
  }
}

.categories {
  &__items {
    position: relative;
    margin: 0 -25px -20px -25px;
    padding: 0;
    list-style: none;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      width: 2px;
      background: #FFF;
      z-index: 1;
    }
  }
  &__item {
    padding: 0 25px;
    margin-bottom: 40px;
  }
}

.category {
  &:not(:last-child) {
    border-right: 1px solid #c0c0c0;
  }
  &__wrap {

  }
  &__header {

  }
  &__content {
    margin-top: 15px;
  }
  &__image {
    position: relative;
    height: 140px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
  }
  &__subcategories {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__subcategory {
    font-size: 14px;
  }
}

@import "catalog-responsive";
